<div class="col-md-3">
<h2>User info</h2>
  <table class="table">
      <thead>
        <tr>
          <% if @user.profile_image.attached? %>
            <%= image_tag @user.profile_image, size: "100x100" %>
          <% else %>
            <%= image_tag 'no_image', size: "100x100" %>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>name</th>
          <th><%= @user.name %></th>
        </tr>
        <tr>
          <th>introduction</th>
          <th><%= @user.introduction %></th>
        </tr>
        <tr>
        <th colspan="2">
        </tr>
    </tbody>
  </table>

  <%= link_to edit_user_path(@user),class: 'btn btn-outline-secondary btn-block' do %>
        <i class="fas fa-user-cog"></i>
      <% end %>

<h2 class="mt-3">New book</h2>
 <%= form_with model: @book do |f| %>
  <h4>Title</h4>
      <%= f.file_field :title %>
  <h4>Opinion</h4>
      <%= f.text_field :body , class: "form-control" %>
    <button type="submit" class="btn btn-success">Create Book</button>
  <% end %>
  </div>

